.search {
  background-color: #c06316 !important;
  border: 1px solid #c06316 !important;
  font-size: 20px !important;
}

.search:hover {
  background-color: #ad4f01 !important;
  border: 1px solid #ad4f01 !important;
  color: #fff !important;
}

.bookingContainer {
  margin: 100px 0;
}
