.search {
  background-color: #bd5604 !important;
  border: 1px solid #bd5604 !important;
  font-size: 20px !important;
}

.search:hover {
  background-color: #fff !important;
  border: 1px solid #bd5604 !important;
  color: #bd5604 !important;
}

.bookingContainer {
  margin: 100px 0;
}
