#footer {
  background-color: #3c3d3c;
  color: #fff;
}

#footerContent {
  font-size: 1.25rem;
}

#copyright {
  font-size: 0.8rem;
  color: #fff !important;
}

.modalHeader {
  background-color: #7fb37f;
}

.guidelines {
  text-decoration: none;
  color: #fff;
}

#facebook {
  font-size: 30px;
  color: #fff;
}

#instagram {
  font-size: 30px;
  color: #fff;
}
