#footer {
  background-color: #7fb37f;
}

#footerContent {
  font-size: 1.25rem;
}

#copyright {
  font-size: 0.8rem;
}

.modalHeader {
  background-color: #7fb37f;
}

.guidelines {
  text-decoration: none;
  color: #000;
}

#facebook {
  font-size: 30px;
  color: #505050;
}
