@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Exo+2:ital,wght@1,500&display=swap");

#navbar {
  background-color: #004963;
}

#mobileNav {
  background-color: #037daa;
}

.parelogo {
  height: 80px;
  margin-right: 7px;
}

.logoText {
  font-size: 40px !important;
  font-weight: 800;
  font-family: "Exo 2", sans-serif;
  color: #a9a9a9 !important;
}
