.hero {
  background-image: linear-gradient(0deg, rgba(88, 108, 116, 0.1), #a7a7a7),
    url(../assets/burnham-park2.jpeg);
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  padding: 0 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: #fff;
}
